<!DOCTYPE html>
{% load static %}
<link
rel ="stylesheet"
type = "text/css"
href = "{% static 'css/bootstrap.css' %}"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class = "container">
        <h2>Web app with NN</h2>
        <div class = "row">
            <div class="col-md-4" style = "background-color: #4671f7">Left</div>
            <div class="col-md-4" style = "background-color: #f2e513">Center</div>
            <div class="col-md-4" style = "background-color: #f21913">Right</div>
    </div>
</body>
</html>